# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
celerybeat-schedule
celerybeat.pid

# Environment
.env
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

#pytest
.pytest_cache/
.coverage
.tox/